#container {
    background-color: #009688;
    height: 100vh;
    margin: 2%;
    padding-left: 100px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}



#purchase img {
    width: 50%;
}