@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: #009688;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 122px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;      
}

section {
    background-color: black;
}

.row {
    height: 530px;
    display: flex;
}

section {
    color: white;
    flex: 70%;
    background-color: #04030f;
    padding: 20px;
}

section h2 {
    color: white;
    border-bottom: 2px solid #009688;
}

#formulario-container {
    max-width: 100%;
    height: 250px;
    background-color: #161a1d;
    border-radius: 10px;
}

#formulario {
    display: flex;
    flex-direction: column;
}

#sector-container {
    padding: 10px 0 0 20px;
    display: flex;
}

#input-sectores {
    padding-left: 40px;
}

select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: #009688;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:#fff;
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
 }
 select::-ms-expand {
    display: none;
 }
 .select {
    position: relative;
    display: flex;
    width: 178px;
    height: 45px;
    line-height: 3;
    background: #009688;
    overflow: hidden;
    border-radius: .25em;
 }
 .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #2b2e2e;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
 }
 .select:hover::after {
    color: #23b499;
 }
#ticket-container {
    padding: 10px 0 0 20px;
    display: flex;
}

#input-tickets {
    padding-left: 40px;
}

.container-button {
    display: flex;
    flex-direction: column;
}

.container-button button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

span {
    background-color: #009688;
    height: 100%;
    width: 0;
    border-radius: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.6s;
}

button:hover span {
    width: 100%;
}


aside {
    flex: 30%;
    background-color: black;
    padding: 20px;
}

#purchase img {
    border-radius: 10px;
    width: 100%;
}

#table-container {
    background-color: rgb(255, 255, 255);
}

table {
    background-color: black;
    letter-spacing: 1px;
    text-align: left;
    width: 100%;
    border-collapse: collapse;
}

thead {
    color: white;
    border-bottom: 2px solid #009688;
}

tr td {
    color: white;
}

thead tr th {
    width: 50%;
}